In [1]:
import pandas as pd

In [64]:
swap_rates = pd.read_csv("./data/market-data-swap-rates.csv")
swap_rates.head(50)

          Date  Start Date Tenor  Swap Rate
0   2021-01-13  2022-01-13   10y   1.081333
1   2021-01-13  2022-01-13   15y   1.265960
2   2021-01-13  2022-01-13   18M   0.221625
3   2021-01-13  2022-01-13    1y   0.195474
4   2021-01-13  2022-01-13    2y   0.279370
5   2021-01-13  2022-01-13    3y   0.404284
6   2021-01-13  2022-01-13    4y   0.536341
7   2021-01-13  2022-01-13    5y   0.664396
8   2021-01-13  2022-01-13    8y   0.950975
9   2021-01-13  2022-07-13   10y   1.155757
10  2021-01-13  2022-07-13   15y   1.315969
11  2021-01-13  2022-07-13   18M   0.310738
12  2021-01-13  2022-07-13    1y   0.240025
13  2021-01-13  2022-07-13    2y   0.378942
14  2021-01-13  2022-07-13    3y   0.516830
15  2021-01-13  2022-07-13    4y   0.653250
16  2021-01-13  2022-07-13    5y   0.775163
17  2021-01-13  2022-07-13    8y   1.038092
18  2021-01-13  2023-01-13   10y   1.230669
19  2021-01-13  2023-01-13   15y   1.366393
20  2021-01-13  2023-01-13   18M   0.436460
21  2021-01-13  2023-01-13    1y   0.362688
22  2021-01-13  2023-01-13    2y   0.509029
23  2021-01-13  2023-01-13    3y   0.650651
24  2021-01-13  2023-01-13    4y   0.782766
25  2021-01-13  2023-01-13    5y   0.892360
26  2021-01-13  2023-01-13    8y   1.127124
27  2021-01-13  2024-01-15   10y   1.365134
28  2021-01-13  2024-01-15   15y   1.456788
29  2021-01-13  2024-01-15   18M   0.726273
30  2021-01-13  2024-01-15    1y   0.658901
31  2021-01-13  2024-01-15    2y   0.798060
32  2021-01-13  2024-01-15    3y   0.926464
33  2021-01-13  2024-01-15    4y   1.029440
34  2021-01-13  2024-01-15    5y   1.112759
35  2021-01-13  2024-01-15    8y   1.291164
36  2021-01-13  2025-01-13   10y   1.467907
37  2021-01-13  2025-01-13   15y   1.524979
38  2021-01-13  2025-01-13   18M   0.998679
39  2021-01-13  2025-01-13    1y   0.936284
40  2021-01-13  2025-01-13    2y   1.060054
41  2021-01-13  2025-01-13    3y   1.152556
42  2021-01-13  2025-01-13    4y   1.227667
43  2021-01-13  2025-01-13    5y   1.288969
44  2021-01-13  2025-01-13    8y   1.420018
45  2021-01-13  2026-01-13   10y   1.543005
46  2021-01-13  2026-01-13   15y   1.573561
47  2021-01-13  2026-01-13   18M   1.222653
48  2021-01-13  2026-01-13    1y   1.184946
49  2021-01-13  2026-01-13    2y   1.262265

In [25]:
swap_rates.describe()

          Swap Rate
count  63180.000000
mean       2.426657
std        0.818694
min        0.167830
25%        1.718963
50%        2.592827
75%        3.036409
max        4.249516

In [69]:
swap_rates_by_today = swap_rates[swap_rates["Start Date"] < "2024-05-14"]
swap_rates_by_today


# EMA Dampling 
#

             Date  Start Date Tenor  Swap Rate
0      2021-01-13  2022-01-13   10y   1.081333
1      2021-01-13  2022-01-13   15y   1.265960
2      2021-01-13  2022-01-13   18M   0.221625
3      2021-01-13  2022-01-13    1y   0.195474
4      2021-01-13  2022-01-13    2y   0.279370
...           ...         ...   ...        ...
48442  2023-05-12  2024-05-13    2y   2.726265
48443  2023-05-12  2024-05-13    3y   2.669241
48444  2023-05-12  2024-05-13    4y   2.664295
48445  2023-05-12  2024-05-13    5y   2.678270
48446  2023-05-12  2024-05-13    8y   2.745624

[13563 rows x 4 columns]

In [71]:
swap_rates_by_today["Start Date"].value_counts()
# 根据date进行排序，用最新的startdate的swap rate

2024-04-08    99
2024-05-06    90
2024-03-29    90
2024-02-12    90
2024-05-13    90
              ..
2023-01-11     9
2022-10-07     9
2022-07-08     9
2022-06-20     9
2022-05-17     9
Name: Start Date, Length: 597, dtype: int64

In [8]:
len(swap_rates)

63180

In [22]:
swap_vols = pd.read_csv("./data/market-data-swaption-vols.csv")
swap_vols.head(20)

          Date Expiry Tenor    Strike      Vols
0   2021-01-13    10y   10y  atm-1.0%  0.170552
1   2021-01-13    10y   10y  atm-0.5%  0.135412
2   2021-01-13    10y   10y       atm  0.114587
3   2021-01-13    10y   10y  atm+0.5%  0.137742
4   2021-01-13    10y   10y  atm+1.0%  0.169685
5   2021-01-13    10y   15y  atm-1.0%  0.156420
6   2021-01-13    10y   15y  atm-0.5%  0.127636
7   2021-01-13    10y   15y       atm  0.108229
8   2021-01-13    10y   15y  atm+0.5%  0.130351
9   2021-01-13    10y   15y  atm+1.0%  0.161753
10  2021-01-13    10y   18M  atm-1.0%  0.155467
11  2021-01-13    10y   18M  atm-0.5%  0.128223
12  2021-01-13    10y   18M       atm  0.109561
13  2021-01-13    10y   18M  atm+0.5%  0.131384
14  2021-01-13    10y   18M  atm+1.0%  0.162888
15  2021-01-13    10y    1y  atm-1.0%  0.153505
16  2021-01-13    10y    1y  atm-0.5%  0.126833
17  2021-01-13    10y    1y       atm  0.108240
18  2021-01-13    10y    1y  atm+0.5%  0.130117
19  2021-01-13    10y    1y  atm+1.0%  0.161617

In [72]:
swap_vols["Expiry"].value_counts()

1y     35100
8y     35100
15y    35100
18M    35100
10y    35100
4y     35100
3y     35100
5y     35100
2y     35100
Name: Expiry, dtype: int64

In [35]:
swap_vols.describe()

                Vols
count  315900.000000
mean        0.380107
std         0.432522
min         0.005489
25%         0.119821
50%         0.202674
75%         0.426787
max         3.338007

In [7]:
len(swap_vols)

315900

In [4]:
trade_information = pd.read_csv("./data/trade-information.csv")
trade_information.head()

    trade name    underlying pay_frequency maturity  lower_bound  upper_bound
0  dummyTrade1   USD: CMS:2Y            6M       5Y       0.0042       0.0379
1  dummyTrade2   USD: CMS:2Y            4M       5Y       0.0042       0.0379
2  dummyTrade3   USD: CMS:5Y            6M       5Y       0.0044       0.0397
3  dummyTrade4   USD: CMS:5Y            4M       5Y       0.0044       0.0397
4  dummyTrade5  USD: CMS:10Y            4M       5Y       0.0046       0.0417

In [10]:
len(trade_information)

12

In [50]:
vegas = pd.read_csv("./data/trade-price-ir-vegas.csv")
vegas.head(20)

    Value Date    Trade Name Trade Currency  Zero Rate Shock             TV Expiry Bucket Expiry Date Tenor Bucket       Vega
0   2022-09-02   dummyTrade1            USD             -100 -227907.098775            1y  2023-09-04          10y   1.962246
1   2022-09-02   dummyTrade1            USD              -50 -222208.400967            1y  2023-09-04          10y  -3.812341
2   2022-09-02   dummyTrade1            USD              -25 -218960.927995            1y  2023-09-04          10y   4.471006
3   2022-09-02   dummyTrade1            USD              -10 -216872.430106            1y  2023-09-04          10y   4.333398
4   2022-09-02   dummyTrade1            USD               -5 -216146.310328            1y  2023-09-04          10y   5.679687
5   2022-09-02   dummyTrade1            USD                0 -215402.656152            1y  2023-09-04          10y   5.016274
6   2022-09-02   dummyTrade1            USD                5 -214640.494071            1y  2023-09-04          10y   3.458172
7   2022-09-02   dummyTrade1            USD               10 -213858.452424            1y  2023-09-04          10y   3.132444
8   2022-09-02   dummyTrade1            USD               25 -211345.804723            1y  2023-09-04          10y  12.184058
9   2022-09-02   dummyTrade1            USD               50 -206384.346001            1y  2023-09-04          10y  15.648409
10  2022-09-02   dummyTrade1            USD               75 -199714.293638            1y  2023-09-04          10y  31.209875
11  2022-09-02   dummyTrade1            USD              100 -189622.259104            1y  2023-09-04          10y  35.883400
12  2022-09-02  dummyTrade10            USD             -100 -672928.672914            1y  2023-09-04          10y -47.707514
13  2022-09-02  dummyTrade10            USD              -50 -650078.922656            1y  2023-09-04          10y -39.200698
14  2022-09-02  dummyTrade10            USD              -25 -634657.438077            1y  2023-09-04          10y -58.360957
15  2022-09-02  dummyTrade10            USD              -10 -624022.660536            1y  2023-09-04          10y -33.283137
16  2022-09-02  dummyTrade10            USD               -5 -620231.351400            1y  2023-09-04          10y -30.736273
17  2022-09-02  dummyTrade10            USD                0 -616299.369241            1y  2023-09-04          10y -59.820414
18  2022-09-02  dummyTrade10            USD                5 -612233.392379            1y  2023-09-04          10y -62.165991
19  2022-09-02  dummyTrade10            USD               10 -608000.180857            1y  2023-09-04          10y -75.096045

In [60]:
correlation_AB = vegas['TV'].corr(vegas['Vega'])
correlation_AB

-0.003990306529211773

In [58]:
vegas["Value Date"].value_counts()

2022-11-25    11664
2023-10-17    11664
2023-08-29    11664
2023-08-18    11664
2023-09-19    11664
              ...
2022-11-08    11664
2023-08-17    11664
2023-04-05    11664
2023-11-14    11664
2023-07-18    11664
Name: Value Date, Length: 336, dtype: int64

In [ ]:
vegas["Tenor Bucket"].value_counts()

In [56]:
435456/12
# EACH TRADE HAS 36288 different tenors 36288 15y tenors

36288.0

In [37]:
len(vegas[vegas["Trade Name"] == "dummyTrade1"])

326592

In [36]:
vegas.describe()

       Zero Rate Shock            TV          Vega
count     3.919104e+06  3.919104e+06  3.919104e+06
mean      6.250000e+00 -3.471395e+05  1.714511e+01
std       5.136167e+01  1.856180e+05  2.850144e+03
min      -1.000000e+02 -7.174312e+05 -1.385180e+06
25%      -1.375000e+01 -5.291890e+05 -1.342167e+00
50%       2.500000e+00 -2.242142e+05  1.336000e-04
75%       3.125000e+01 -1.857137e+05  7.386112e+00
max       1.000000e+02 -2.911344e+04  1.110263e+06

In [6]:
len(vegas)

3919104